<!DOCTYPE html>
<html>
  <head>
    <title> CV</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  </head>
<body>
  <header>
    <h1>Endyths Alfonzo Carrasquel Nieves  </h1>
    <p class="ingSub">Ingeniero Informatico en Proceso</p>
    <div class="subtitulo">
    
    <p> <i class="fas fa-envelope"></i> Email: endythsxd@gmail.com</p>
    <p><i class="fas fa-phone"></i> Teléfono: 0426-1636376</p>
  </div>
  <nav class="iconos">
    <a href="https://www.tiktok.com/@xsnow14?_t=8lTpRbh072T&_r=1" title="Tiktok"> 
      <button>
        <img src="https://th.bing.com/th/id/OIP.uu9JkYC2xZwsaejl4bJoQwAAAA?rs=1&pid=ImgDetMain" alt="Tiktok">
      </button>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100004239316247&mibextid=ZbWKwL" title="Facebook">
      <button>
        <img src="https://th.bing.com/th/id/R.70ecfdd862bdc3fdbf5715085812f49e?rik=fDJPk4oWTEisvw&pid=ImgRaw&r=0" alt="Facebook">
      </button>
    </a>
    <a href="https://www.instagram.com/endyths14?igsh=MXhxM2g3bG9rMGU3ag==" title="Instagram">
      <button>
        <img src="https://clipart.info/images/ccovers/1559063340instagram-icon-logo-png-color.png" alt="Instagram">
      </button>
    </a>
    <a href="https://github.com/Endyths" title="GitHub">
      <button>
        <img src="https://th.bing.com/th/id/R.7a864f07681f187fb572468bfc949977?rik=EyUQGBjtSbMjVw&riu=http%3a%2f%2fpngimg.com%2fuploads%2fgithub%2fgithub_PNG80.png&ehk=sCQlSHnb7Wc8WNPgOilokXbf8jL4g20yv7QFEFpl6ko%3d&risl=&pid=ImgRaw&r=0" alt="GitHub">
      </button>
    </a>
    
  </nav>
  
</header>


<div class="conteiner">
  <div class="columIzq">
    <section>
      <h2>Experiencia Laboral</h2>
      
      <article>
          <h3>Sistemas Tecnologicos Alcaravan</h3>
          <p>Tutor, Marzo 2023-Presente</p>
          <p>Preparador de Matematica 1 en la UNERG</p>
      </article>
  </section>
  <section>
      <h2>Educación</h2>
      <article>
        <h3>Educacion Secundaria (Bachillerato)</h3>
        <p>U.E.N.C "Los Chorros"</p>
        <p>U.E.N.C "Tucutunemo"</p>
      </article>
      <article>
        <h3>Educacion Universitaria (En Progreso)</h3>
        <p>UNERG Ingenieria en Informatica</p>
      </article>
  </section>
  <section>
    <h2>Dominio de idiomas</h2>
    <article>
      <p>Ingles: 7/10</p>
      <p>Español: Lengua Materna</p>
    </article>
  </section>

  </div>
  <div class="columDere">
    <section>
      <h2>Perfil</h2>
     
        <ul>
          <li> Entusiasta por el avance profesional</li>
          <li>Alta motivación para el trabajo honesto</li>
          <li>Responsable y puntual durante las horas de trabajo</li>
          <li>Busco un entorno competitivo y desafiante 
            donde pueda servir a su organización y establecer una experiencia agradable 
            carrera para mí</li>
        </ul>
    </section>
      <section >
      <h2>Habilidades</h2>
      
      <ul>
          <li>Responsable</li>
          <li>Puntual</li>
          <li>Perspicaz</li>
          <li>Analitico</li>
          <li>Buen trabajador en equipo</li>
          <li>Resolucion de problemas</li>
      </ul>
  </section>
  <section>
    <h2>Cursos</h2>
    <ul>
      
      <li>JavaScript (abril de 2023): 
        Curso de Maestría Intermedia en el 
        Lenguaje de programación JAVASCRIPT </li>
      <li>Css (Abril 2023):  
        Curso completo de maestría y gestión 
        en el lenguaje de diseño CSS</li>
      <li> Html (abril de 2023): 
        Curso completo de maestría y manejo en 
        el lenguaje de diseño HTML</li>
      <li> Primeros auxilios (mayo de 2018): 
        Ayuda médica básica en caso de accidentes</li>
    </ul>
  </section>
  </div>
</div>

<footer>
  <div class="contacto">
    <form id="contacto-form" >
      <input type="email" name="email" id="email" placeholder="email" />
      <input type="text" name="name" id="name" placeholder="nombre"  />
      <textarea
        
        name="mensaje"
        id="mensaje"
        cols="30"
        rows="10"
        placeholder="comentario"
      ></textarea>
      <button type="button" id="submit-btn">Enviar</button>
    </form>
  </div>
  
  <script>
  document.getElementById('submit-btn').addEventListener('click', async () => {
    const form = document.getElementById('contacto-form');
    const formData = new FormData(form);
  
    const response = await fetch("/form-contacto", {
      method: 'POST',
      body: formData,
    });
  
    if (response.ok) {
      console.log('Formulario enviado con éxito');
    } else {
      console.error('Error al enviar el formulario');
    }
  });
  </script>
  </footer>
</body>
</html>
